<main class="vl-sidebar-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                <div class="vl-event-content-area">
                    <div class="event-content-area">
                        <h2 class="title">Disclaimer for The Vywamus Foundation</h2>
                        <hr />
                        <h4>Effective Date: May 1st, 2026</h4>
                        <h4 style="padding-top: 10px;">1. Medical Disclaimer</h4>
                        <p class="para">Our Programs, Products, Services including all Readings, Sessions, Mentorship, etc., 
                            and Program Materials and their content or in any linked material are presented for informational 
                            purposes only and are not a substitute for medical advice, diagnosis, treatment, or prescribing.</p>
                        <p class="para">Nothing contained in or accessible from our Programs, Products, or Services including all 
                            Readings, Sessions, Mentorship, etc. and Program Materials and their content or in any linked material, 
                            should be considered to be medical advice, diagnosis, treatment, or prescribing, or a promise of benefits, 
                            claim of cure, legal warranty, or guarantee of results to be achieved.</p>
                        <p class="para">Never disregard medical advice or delay in seeking it because of something you have heard 
                            or read in our Programs, Products, Services including all Readings, Sessions, Mentorship, etc., 
                            and Program Materials and their content or in any linked material.</p>
                        <p class="para">Do not stop taking any medications without speaking to your physician, 
                            nurse practitioner, physician assistant, mental health provider, or other healthcare professional. 
                            If you have or suspect that you have a medical or mental health issue, contact your own health care 
                            provider promptly. We are not providing health care, medical, or nutrition therapy services or attempting 
                            to diagnose, treat, prevent or cure in any manner whatsoever any physical ailment, or any mental or 
                            emotional issue, disease, or condition.</p>
                        <p class="para">We are not giving medical, psychological, or religious advice whatsoever.</p>
                        <p class="para">The Vywamus Foundation is not a medical doctor or other licensed healthcare practitioner or provider. 
                            Consult with a licensed healthcare professional before altering or discontinuing any current medications, treatment, 
                            or care, or starting any diet, exercise or supplementation program, or if you have or suspect you might have a 
                            health condition that requires medical attention.</p>
                        <p class="para">The United States Food and Drug Administration has not evaluated any statement, claim, 
                            or representation made in or accessible from our Programs, Products, Services including all Readings, 
                            Sessions, Mentorship, etc. and Program Materials and their content or in any linked material. 
                            The content of our Programs, Products, and Services including all Readings, Sessions, Mentorship, etc. 
                            and Program Materials and their content or in any linked material does not necessarily reflect the opinions 
                            of The Vywamus Foundation or the principal author and is not guaranteed to be correct, complete, or up-to-date.</p>
                        <p class="para">Our Programs, Products, Services including all Readings, Sessions, Mentorship, etc., 
                            and Program Materials and their content or in any linked material, may contain links to other resources 
                            on the Internet. These links are provided as citations and aids to help you identify and locate other 
                            Internet resources that may be of interest, and are not intended to state or imply that The Vywamus Foundation, 
                            or the principal author recommends, endorses, supports, sponsors, or is in any way affiliated or associated with 
                            any person or entity associated with the linked material, or is legally authorized to use any trade name, registered 
                            trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in the linked material.</p>
                        <p class="para">Our Programs, Products, Services, and Program Materials are not to be perceived as or relied upon in 
                            any way as medical advice or mental health advice. The information provided through our Programs, Products, Services, 
                            and Program Materials is not intended to be a substitute for professional medical advice, diagnosis, or treatment that 
                            can be provided by your own physician, nurse practitioner, physician assistant, therapist, counselor, mental health 
                            practitioner, licensed dietitian or nutritionist, member of the clergy, or any other licensed or registered health care 
                            professional. Do not disregard professional medical advice or delay seeking professional advice because of information 
                            you have read in our Programs, Products, Services, and Program Materials, or received from us. Do not stop taking any 
                            medications without speaking to your physician, nurse practitioner, physician assistant, mental health provider, or other 
                            healthcare professional. If you have or suspect that you have a medical or mental health issue, contact your own health 
                            care provider promptly. We are not providing health care, medical, or nutrition therapy services or attempting to diagnose, 
                            treat, prevent or cure in any manner whatsoever any physical ailment, or any mental or emotional issue, disease or condition.
                            We are not giving medical, psychological, or religious advice whatsoever.</p>


                        <h4 style="padding-top: 10px;">2. Legal and Financial Disclaimer</h4>
                        <p class="para">Our Programs, Products, Services, and Program Materials are not to be perceived or relied upon in 
                            any way as business, financial, or legal advice. The information provided through our Programs, Products, 
                            Services, and Program Materials is not intended to be a substitute for professional advice that can be provided 
                            by your own accountant, lawyer, or financial advisor.</p>
                        <p class="para">We are not giving financial or legal advice in any way. You are hereby advised to consult 
                            with your own accountant, lawyer, or financial advisor for any and all questions and concerns you have 
                            regarding your own income and taxes pertaining to your specific financial and/or legal situation. 
                            You agree that we are not responsible for your earnings, the success or failure of your business decisions, 
                            the increase or decrease of your finances or income level, or any other result of any kind that you may 
                            have as a result of information presented to you through our Programs, Products, Services, and Program Materials. 
                            You are solely responsible for your results.</p>


                        <h4 style="padding-top: 10px;">3. Earnings Disclaimer</h4>
                        <p class="para">You acknowledge that we have not and do not make any representations as to 
                            the health physical, mental, emotional, spiritual, or health benefits, future income, expenses, 
                            sales volume or potential profitability or loss of any kind that may be derived as a result of your 
                            participation in this Program, Product, Services or Program Materials. We cannot and do not guarantee 
                            that you will attain a particular result, positive or negative, financial or otherwise, through 
                            the use of our Programs, Products, Services, and Program Materials and you accept and understand 
                            that results differ for each individual. We also expressly disclaim responsibility in any way for 
                            the choices, actions, results, use, misuse, or non-use of the information provided or obtained through 
                            any of our Programs, Products, Services, or Program Materials. You agree that your results are strictly 
                            your own and we are not liable or responsible in any way for your results.</p>


                        <h4 style="padding-top: 10px;">4. Mediumship Disclaimer</h4>
                        <p class="para">Keep in mind that because of ethical boundaries, The Vywamus Foundation will not answer 
                            questions about death or questions that are too intrusive or that can cause emotional, 
                            legal or physical danger to another person.</p>
                        <p class="para">Anything a client or the client's channeled being shares within any of the services 
                            offered is confidential and will not be shared with outside sources without the client's permission.</p>
                        <p class="para">The Vywamus Foundation is not a psychologist, doctor, or financial advisor and will not diagnose, 
                            treat or cure medical or psychological conditions. We will not “heal” or “cure” you and can only facilitate your own energy healing.</p>
                        <p class="para">WE MAKE NO WARRANTIES AS TO OUR PROGRAMS, PRODUCTS, SERVICES, OR PROGRAM MATERIALS. YOU AGREE THAT PROGRAMS, 
                            PRODUCTS, SERVICES, OR PROGRAM MATERIALS ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. 
                            TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, 
                            BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. 
                            WE DO NOT WARRANT THAT THE PROGRAMS, PRODUCTS, SERVICES, OR PROGRAM MATERIALS WILL BE FUNCTIONAL, UNINTERRUPTED, CORRECT, 
                            COMPLETE, APPROPRIATE, OR ERROR-FREE, THAT DEFECTS, WILL BE CORRECTED, OR THAT ANY PART OF THE WEBSITE, CONTENT ARE FREE OF 
                            VIRUSES OR OTHER HARMFUL COMPONENTS. WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE 
                            USE OF OUR PROGRAM, PRODUCT OR SERVICES MATERIALS OR ON THIRD-PARTY WEBSITES IN TERMS OF THEIR CORRECTNESS, ACCURACY, 
                            TIMELINESS, RELIABILITY, OR OTHERWISE.</p>
                        <p class="para">We try to ensure that the availability and delivery of our Programs, Products, Services, and Program Materials 
                            is uninterrupted and error-free, including our content and communications through methods such as our website, 
                            e-mail communications, videos, audio recordings, webinars, recorded webinars, teleseminars, recorded teleseminars, 
                            downloadable audio files, downloadable PDF printed transcripts, downloadable PDF handouts/slides, handouts, e-books, 
                            or any other materials provided by us to you. However, we cannot guarantee that your access will not be suspended or 
                            restricted from time to time, including to allow for repairs, maintenance, or updates, although, of course, 
                            we will try to limit the frequency and duration of suspension or restriction. To the fullest extent permitted by law, 
                            we will not be liable to you for damages or refunds, or for any other recourse, should our Programs, Products, Services, 
                            or Program Materials become unavailable or access to them becomes slow or incomplete due to any reason, 
                            such as system back-up procedures, internet traffic volume, upgrades, overload of requests to the servers, 
                            general network failures or delays, or any other cause which may from time to time make our Programs, Products, 
                            Services or Program Materials inaccessible to you.</p>
                        <p class="para">We make no warranty or guarantee as to the accuracy, timeliness, performance, completeness, or suitability 
                            of the information in our Programs, Products, Services, and Program Materials.</p>
                        <p class="para">Every effort has been made to present you with the most accurate, up-to-date information, 
                            but because the nature of scientific research is constantly evolving, we cannot be held responsible 
                            or accountable for the accuracy of our content. You acknowledge that such information may contain inaccuracies 
                            or errors and we are not liable for any such inaccuracies or errors to the fullest extent permitted by law.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>