<main class="vl-sidebar-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                <div class="vl-event-content-area">
                    <div class="event-content-area">
                        <h2 class="title">Privacy Policy for The Vywamus Foundation</h2>
                        <hr />
                        <h4>Effective Date: May 1st, 2026</h4>
                        <p class="para">The Vywamus Foundation ("us", "we", or "our") operates <a href="www.vywamusfoundation.org">www.vywamusfoundation.org</a> (the "Site"). 
                            This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive 
                            from users of the Site.</p>
                        <h4 style="padding-top: 10px;">1. Information Collection and Use</h4>
                        <p class="para">While using our Site, we may ask you to provide us with certain personally identifiable information that can 
                            be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, 
                            email address, address, and phone number ("Personal Information").</p>
                        <p class="para">We collect this information for the purposes of providing the service, identifying and communicating with you, 
                            responding to your requests/inquiries, and improving our services.</p>
                        <h4 style="padding-top: 10px;">2. Log Data and Cookies</h4>
                        <p class="para">Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). 
                            This Log Data may include information such as your computer's IP address, browser type, browser version, 
                            the pages of our Site that you visit, the time and date of your visit, and other statistics.</p>
                        <p class="para">We do not use "cookies" to collect information but know that you can instruct your browser to refuse all 
                            cookies or to indicate when a cookie is being sent.</p>
                        <h4 style="padding-top: 10px;">3. Third-Party Services</h4>
                        <p class="para">We use a third-party service that collect, monitor, and analyze user information to provide reports of our Site's functionality. 
                            The third-party service provider we use is Plausible Analytics (<a href="https://plausible.io" target="_blank">https://plausible.io)</a> 
                            and their team has their own privacy policies addressing how they use such information.</p>
                        <h4 style="padding-top: 10px;">4. Data Security</h4>
                        <p class="para">The security of your Personal Information is important to us but remember that no method of transmission 
                            over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable 
                            means to protect your Personal Information, we cannot guarantee its absolute security.</p>
                        <h4 style="padding-top: 10px;">5. Your Data Rights</h4>
                        <p class="para">Depending on your location, you may have the right to access, correct, or delete the personal data we collect. 
                            To exercise these rights, please <a href="--ROOT--#contact">contact us here</a>.</p>
                        <h4 style="padding-top: 10px;">6. Changes to This Privacy Policy</h4>
                        <p class="para">This Privacy Policy is effective as of May 1st, 2026 and will remain in effect except with respect to any changes in its 
                            provisions in the future, which will be in effect immediately after being posted on this page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>