<!--===== MISSION AREA STARTS =======-->
<section id="mission" class="vl-about-mission-bg sp2">
  <div class="container">
    <!--===== HALSEY STARTS =======-->
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="mision-thumb mb-30">
              <img class="w-100" src="--ROOT--assets/img/about/halsey-contact-2.png" alt="">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="mission-content ml-20 mb-30">
              <h2 class="title pb-20">Halsey Snow</h2>
              <p class="para pb-16">
                Halsey is a teacher, healer, life coach, channel for Vywamus, and a
                student of water. On the soul and monadic levels he is known as Hasana
                Acktarian Solekat. He is an initiated MariEL energy healer and is trained
                in developmental psychology and NLP.
              </p>
              <p class="para">
                Through his union with Vywamus and Pat, he is anchoring the energy
                of the &quot;whole&quot; masculine aspect of the divine into the
                human male population of the planet. Halsey, Pat and Vywamus
                have together created The Vywamus Foundation as a center of
                transformational work for individuals around the planet.
              </p>

              <!-- icon list -->
              <div class="icon-list-box pt-20">
                <ul>
                  <li><span><i class="fa-solid fa-check"></i></span>Channeler of Vywamus</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Healer</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Life Coach</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Teacher</li>
                </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--===== HALSEY ENDS =======-->
    <!--===== PATTY STARTS =======-->
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="mission-content ml-20 mb-30">
              <h2 class="title pb-20">Patricia Marston-Snow</h2>
              <p class="para pb-16">
                Pat is a conscious channel for Vywamus and a number of other spiritual teachers.
                Trained by Ascended Master Djwhal Khul and Janet McClure as a Vywamus channel at the time of
                his (Vywamus) appearance on the planet in 1985, Pat has channeled Vywamus extensively,
                focusing on areas of denial within all levels of the Self.
              </p>
              <p class="para">
                 In co-creation with Vywamus, Pat has helped to develop specific gap-closing work in the
                 emotional body to support the rebirth and reawakening of the Goddess/Spirit within humanity.
                 Pat is internationally known and respected for the depth, clarity, and compassion of her channeling.
              </p>

              <!-- icon list -->
              <div class="icon-list-box pt-20">
                <ul>
                  <li><span><i class="fa-solid fa-check"></i></span>Channeler of Vywamus</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Healer</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Life Coach</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Teacher</li>
                </ul>
            </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="mision-thumb mb-30">
              <img class="w-100" src="--ROOT--assets/img/about/patty-contact-2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--===== PATTY ENDS =======-->
  </div>
</section>
<!--===== MISSION AREA ENDS =======-->
