<!--===== STATISTICS AREA STARTS =======-->
<section id="statistics" class="vl-counter5 counter-iner sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
          <div class="vl-counter-content mb-30">
            <div class="vl-section-title-1">
              <h5 class="subtitle">Statistics</h5>
              <h2 class="title">Journey into the <br class="d-none d-xl-block"> alchemey of consciousness</h2>
              <p class="para pb-32">Our impact is reflected in the numbers—and each <br class="d-none d-xl-block"> statistic represents lives changed and futures <br class="d-none d-xl-block"> improved over the past year alone.</p>

              <div class="btn-area">
                <a href="#" class="header-btn1">Explore Now <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
              </div>
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 mb-10">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <!-- single counter box -->
            <div class="single-counter-box counter-box-2">
              <h3 class="title"> <span class="title counter">33</span></h3>
              <span class="pt-20">Years of Experience</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- single counter box -->
            <div class="single-counter-box counter-box-2 active">
              <h3 class="title"> <span class="title counter">69</span>+</h3>
              <span class="pt-20">Statistic #2</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- single counter box -->
            <div class="single-counter-box counter-box-2">
              <h3 class="title"> <span class="title counter">9</span>+</h3>
              <span class="pt-20">Global Communities</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- single counter box -->
            <div class="single-counter-box counter-box-2">
              <h3 class="title"> <span class="title counter">93</span>+</h3>
              <span class="pt-20">Pattern Recognization</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== STATISTICS AREA ENDS =======-->
