<!--===== ABOUT AREA STARTS =======-->
<section id="about" class="vl-about3 sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="vl-about-thumb-flex mb-30">
          <a href="--ROOT--about.html"><span><img src="--ROOT--assets/img/icons/vl-up-arrow.svg" alt=""></span></a>
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="thumb-1 reveal"><img class="w-100" src="--ROOT--assets/img/about/patty-contact.png" alt=""></div>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="thumb-2 reveal"><img class="w-100" src="--ROOT--assets/img/about/halsey-contact.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="vl-about-content-3 ml-50 mb-30">
          <div class="vl-section-title3">
            <h4 class="subtitle" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="300">About Us</h4>
            <h2 class="title text-anime-style-3">Founders of The Vywamus Foundation</h2>
            <p class="para" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="300">
              The Vywamus Foundation is a partnership among Vywamus, Patricia Marston-Snow and Halsey Snow,
              created for the purpose of providing individual and group transformational experiences and opportunities.
            </p>
            <p class="para pt-20" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="300">
              Founded in 1994, The Vywamus Foundation offers its programs and services in the U.S. and Europe,
              operating from offices near Portland, Maine at their educational center with several healing and
              intentional gardens, collectively referred to as...  "A Place In The Heart."
            </p>
            <!-- btn -->
            <div class="vl-btn3" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="300">
              <a href="--ROOT--about/" class="primary-btn-3">more details</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--===== ABOUT AREA ENDS =======-->
