<!--===== FOOTER AREA STARTS =======-->
<footer class="vl-footer-bg-1 vl-footer-bg-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="vl-footer-widget-1 mb-30">
          <div class="vl-footer-logo">
            <a href="--ROOT--"><img src="--ROOT--assets/img/logo/v-footer-logo-1.1b.png" alt=""></a>
          </div>
          <div class="vl-footer-content">
            <p>Journey into the Alchemy of Consciousness with 
              The Vywamus Foundation for a transformative self discovery
              and spiritual unfoldment.
            </p>
          </div>
          <div class="vl-footer-social-1">
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="vl-footer-widget-2 pl-90 mb-30">
          <h3 class="title">Quick Links</h3>
          <div class="vl-footer-menu">
            <ul>
              <li><a href="--ROOT--">Home</a></li>
              <li><a href="--ROOT--about/">About</a></li>
              <li><a href="--ROOT--#contact">Contact</a></li>
              <li><a href="--ROOT--repository/">Repository</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="vl-footer-widget-2 pl-30 mb-30">
          <h3 class="title">Our services</h3>
          <div class="vl-footer-menu">
            <ul>
              <li><a href="#">Individual</a></li>
              <li><a href="#">Partner</a></li>
              <li><a href="#">Energy Healing</a></li>
              <li><a href="#">Group Sessions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="vl-footer-widget-4 mb-30">
          <h3 class="title">Subscribe to Newsletter</h3>
            <div class="newsletter-form">
                <form action="#">
                  <input type="email" placeholder="Enter Your Email">
                </form>
                <button class="form-btn" disabled>Subscribe</button>
            </div>
          </div>
      </div>
    </div>

     <div class="vl-copyright">
        <div class="row">
          <div class="col-md-6">
            <p class="vl-copyright-text">&copy; 1994-${ tacs.fn.format.dateYear() } The Vywamus Foundation, All Rights Reserved.</p>
          </div>
          <div class="col-md-6">
            <div class="vl-copyright-menu">
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="https://explorer.nervos.org/nft-info/0x167afa1b0c3ffd2d56e3c2730a3a6aade00c7c2a85a1d5d694efb5c47615d386/0x50b6bb7f6455647cadaceec2ac346a89b5a1b0fbeefe2001af7989fd24a08087" target="_blank">
                  <img src="--ROOT--assets/img/logo/nervos-small.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
     </div>
  </div>
</footer>
<!--===== FOOTER AREA ENDS =======-->
