  <!--=====HEADER START=======-->
  <header>
    <div class="header-area homepage1 header header-sticky d-none d-xl-block mt-16" id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-elements header-elements-1">
              <div class="site-logo">
                <a href="--ROOT--"><img src="--ROOT--assets/img/logo/v-logo-3.1b_tp.png" alt="Vywamus"></a>
              </div>
              <div class="main-menu">
                <ul>
                  <li><a href="--ROOT--about/">About</a></li>
                  <li><a href="--ROOT--#session">Sessions</a></li>
                  <li><a href="--ROOT--#pattern">Patterns</a></li>
                  <li><a href="--ROOT--#testimonial">Testimonials</a></li>
                  <li><a href="--ROOT--#faq">FAQ</a></li>
                  <li><a href="--ROOT--repository/">Repository</a></li>
                </ul>
              </div>
              <static-search label="search" title="search Ctrl+K">
                <img src="--ROOT--assets/img/icons/vl-gallery-search-1.1.svg" alt="search">
              </static-search>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--=====HEADER END =======-->

  <!--===== MOBILE HEADER STARTS =======-->
  <div class="mobile-header mobile-haeder1 d-block d-xl-none">
    <div class="container">
      <div class="col-12">
        <div class="mobile-header-elements">
          <div class="mobile-logo">
            <a href="--ROOT--"><img class="rounded" src="--ROOT--assets/img/logo/v-logo-1.1.png" alt=""></a>
          </div>
          <div class="mobile-nav-icon dots-menu">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-sidebar mobile-sidebar1">
    <div class="logosicon-area">
      <div class="logos">
        <img class="rounded" src="--ROOT--assets/img/logo/v-logo-1.1.png" alt="">
      </div>
      <div class="menu-close">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="mobile-nav mobile-nav1">
      <ul class="mobile-nav-list nav-list1">
        <li><a href="--ROOT--">Home</a></li>
        <li><a href="--ROOT--about/">About</a></li>
        <li><a href="--ROOT--#session">Sessions</a></li>
        <li><a href="--ROOT--#pattern">Patterns</a></li>
        <li><a href="--ROOT--#testimonial">Testimonials</a></li>
        <li><a href="--ROOT--#faq">FAQ</a></li>
        <li><a href="--ROOT--repository/">Repository</a></li>
      </ul>

      <div class="allmobilesection">
        <!-- search -->
        <static-search label="search" title="search Ctrl+K">
          <img src="--ROOT--assets/img/icons/vl-gallery-search-1.1.svg" alt="">
        </static-search>

        <div class="vl-mobile-contact1">
          <h3 class="title">Contact Info</h3>
          <div class="footer1-contact-info">
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="contact-info-text">
                <a href="#">207.797.6106</a>
              </div>
            </div>

            <!-- single footer -->
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="contact-info-text">
                <a href="--ROOT--#contact">contact</a>
              </div>
            </div>

            <!-- single footer -->
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="contact-info-text">
                <a href="#">Maine, USA</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== MOBILE HEADER STARTS =======-->

  <!--===== MOBILE HEADER STARTS =======-->
  <div class="mobile-header mobile-haeder1 d-block d-xl-none">
    <div class="container">
      <div class="col-12">
        <div class="mobile-header-elements">
          <div class="mobile-logo">
            <a href="--ROOT--"><img src="--ROOT--assets/img/logo/v-logo-3.1b_tp.png" alt=""></a>
          </div>
          <div class="mobile-nav-icon dots-menu">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-sidebar mobile-sidebar1">
    <div class="logosicon-area">
      <div class="logos">
        <img src="--ROOT--assets/img/logo/v-logo-3.1b_tp.png" alt="">
      </div>
      <div class="menu-close">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="mobile-nav mobile-nav1">
      <ul class="mobile-nav-list nav-list1">
        <li><a href="--ROOT--">Home</a></li>
        <li><a href="--ROOT--about/">About</a></li>
        <li><a href="--ROOT--#service">Sessions</a></li>
        <li><a href="--ROOT--#pattern">Patterns</a></li>
        <li><a href="--ROOT--#testimonial">Testimonials</a></li>
        <li><a href="--ROOT--#faq">FAQ</a></li>
        <li><a href="--ROOT--repository/">Repository</a></li>
      </ul>

      <div class="allmobilesection">
        <!-- btn -->
        <static-search label="search" title="search Ctrl+K">
          <img src="--ROOT--assets/img/icons/vl-gallery-search-1.1.svg" alt="">
        </static-search>
        <hr />

        <div class="vl-mobile-contact1">
          <h3 class="title">Contact Info</h3>
          <div class="footer1-contact-info">
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="contact-info-text">
                <a href="#">207.797.6106</a>
              </div>
            </div>

            <!-- single footer -->
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="contact-info-text">
                <a href="--ROOT--#contact">contact</a>
              </div>
            </div>

            <!-- single footer -->
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="contact-info-text">
                <a href="#">Maine, USA</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== MOBILE HEADER STARTS =======-->
