${ data.date || data.tags ? `
  <div class="vl-blog-meta-box mt-32">
    <ul>

      ${ data.date ? `<li><time class="icon" datetime="${ tacs.fn.format.dateISO( data.date ) }"><img class="mt-4-" src="--ROOT--assets/img/icons/vl-calender-1.1.svg" alt="date"> ${ tacs.fn.format.dateHuman( data.date ) }</time></li>` : '' }

      ${ data.tags ? `
        <li>
          ${ data.tags?.map(t => `<a href="${ t.link }"><span class="icon"><img class="mt-4-" src="--ROOT--assets/img/icons/vl-tags.svg"></span> ${ t.tag }</a>`).join(' ') }
        </li>
        ` : '' }

      </ul>
  </div>
` : '' }
