<!--===== PATTERN AREA STARTS =======-->
<section id="pattern" class="vl-gallery3 sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6 order-1 order-md-1 order-xl-1">
        <div class="vl-gallery-sm-thumb mb-30 reveal">
          <img class="w-100" src="--ROOT--assets/img/gallery/vl-gallery-thum-sm-3.1_01.jpg" alt="">
        </div>
        <div class="vl-gallery-sm-thumb mb-30 reveal">
          <img class="w-100" src="--ROOT--assets/img/gallery/vl-gallery-thum-sm-3.1_02.jpg" alt="">
        </div>
      </div>
      <div class="col-xl-6 order-xl-2">
        <div class="vl-gallery-content">
          <div class="vl-section-title3 text-center" >
            <h4 class="subtitle" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Unconscious Belief Structures</h4>
            <h2 class="title text-anime-style-3">Habital Recognition</h2>
            <div class="vl-gallery-large-thumb reveal mb-30">
              <img class="w-100" src="--ROOT--assets/img/gallery/vl-gallery-thum-large-3.5s.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 order-xl-3">
        <div class="vl-gallery-sm-thumb mb-30 reveal">
            <img class="w-100" src="--ROOT--assets/img/gallery/vl-gallery-thum-sm-3.1_04.jpg" alt="">
        </div>
        <div class="vl-gallery-sm-thumb mb-30 reveal">
          <img class="w-100" src="--ROOT--assets/img/gallery/vl-gallery-thum-sm-3.1_03.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== PATTERN AREA ENDS =======-->
