<!--===== Repository AREA STARTS =======-->
<section id="repository" class="vl-blog3 sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mx-auto">
        <div class="vl-section-title3 mb-60 text-center">
          <h4 class="subtitle"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300"><a href="--ROOT--repository/">The Vywamus Foundation Repository</a></h4>
        </div>
      </div>
    </div>

    <div class="row">

      <nav class="pagelist">
        ${
          tacs.dir.get('repository')
            .filter((p, i) => i < 6)
            .map(p => tacs.fn.format.articleLink(p, 'h3') )
        }
      </nav>

    </div>
  </div>
</section>
<!--===== Repository AREA ENDS =======-->
