<!--===== SERVICE AREA STARTS =======-->
<section id="session" class="vl-service3 sp2">
  <div class="shape"><img src="--ROOT--assets/img/icons/vl-gallerylarge-3.1.svg" alt=""></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 mx-auto">
        <div class="vl-section-title3 mb-60 text-center">
          <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Sessions</h4>
          <h2 class="title text-anime-style-3">Individual and Couple Sessions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- single service box -->
      <div class="col-xl-4 col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
        <div class="vl-service-box-parent mb-30">
          <div class="vl-service-icon">
              <span><img src="--ROOT--assets/img/icons/vl-service-icon-3.3.svg" alt=""></span>
          </div>
          <div class="vl-service-box-3">
            <div class="service-thumb">
              <img class="w-100" src="--ROOT--assets/img/service/original01s.jpg" alt="">
            </div>
            <div class="service-content">
                <p class="para">
                  A transformational session for couples who are seeking greater insight
                  and understanding of their relationship dynamics with Vywamus channels.
                </p>
              <a href="#" class="rmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- single service box -->
      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="300">
        <div class="vl-service-box-parent mb-30">
          <div class="vl-service-icon">
              <span><img src="--ROOT--assets/img/icons/vl-service-icon-3.3.svg" alt=""></span>
          </div>
          <div class="vl-service-box-3">
            <div class="service-thumb">
              <img class="w-100" src="--ROOT--assets/img/service/original02s.jpg" alt="">
            </div>
            <div class="service-content">
              <p class="para">
                Interactive session with Vywamus and Halsey/Pat for questions.
                Interactive session with Vywamus and Halsey/Pat for questions.
              </p>
              <a href="#" class="rmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
       <!-- single service box -->
      <div class="col-xl-4 col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
        <div class="vl-service-box-parent mb-30">
          <div class="vl-service-icon">
              <span><img src="--ROOT--assets/img/icons/vl-service-icon-3.3.svg" alt=""></span>
          </div>
          <div class="vl-service-box-3">
            <div class="service-thumb">
              <img class="w-100" src="--ROOT--assets/img/service/original03s.jpg" alt="">
            </div>
            <div class="service-content">
              <p class="para">
                Energetic work with the etheric and physical bodies.
                Energetic work with the etheric and physical bodies.
                Energetic work.
              </p>
              <a href="#" class="rmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== SERVICE AREA ENDS =======-->
